.container__big-card {
  border: solid white 2px;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  height: 600px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.big-card__photo{
  margin: 10px;
}
.big-card__title > h1 {
  color: white;
  font-size: 20px;
}

.big-card__description > p {
  font-size: 17px;
  text-align: center;
  color: grey;
}
