<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://angular.dev/assets/images/ng-image.jpg"
         alt="" srcset="" height="250px" width="390px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>O Google anunciou o lançamento do Angular 13, trazendo várias melhorias e novidades para o framework. Confira as
      principais mudanças e como elas podem impactar seus projetos.</p>
  </div>

</div>
