.container__big-card {
  width: 480px;
  margin-left: 10px;
  margin-right: 10px;
  height: 720px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.big-card__photo {
  margin: 10px;
}
.big-card__photo > img {
  width: 468px;
  height: 300px;
}
.big-card__title > h1 {
  color: white;
  font-size: 24px;
}

.big-card__description > p {
  font-size: 20px;
  text-align: center;
  color: grey;
}
