.container_title{
  color: white;
}

.container_title > h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 130px;
  justify-content: center;
  font-weight: bolder;
  font-family: "Segoe UI", serif;
}

.container_title > hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
