.small-card {
  width: 750px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-card-image > img {
  margin-right: 15px;
  min-width: 200px;
  width: 200px;
  margin-left: 5px;
  margin-top: 5px;
}

.small-card__title {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card hr {
  margin-top: 10px;
}

.vertical-separator {
margin-top: 10px;
}
