<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-title></app-title>

<div class="articles">

  <div class="articles__main">
    <app-big-card photoCover="https://angular.dev/assets/images/ng-image.jpg" cardTitle="Projeto Angular 2025"
                  cardDescription="O Google anunciou o lançamento do Angular 13, trazendo várias melhorias e novidades para o framework.
                   Confira asprincipais mudanças e como elas podem impactar seus projetos."></app-big-card>
    <app-big-card photoCover="https://angular.dev/assets/images/ng-image.jpg" cardTitle="Projeto Angular 2024"
                  cardDescription="O Google anunciou o lançamento do Angular 13, trazendo várias melhorias e novidades para o framework.
                   Confira asprincipais mudanças e como elas podem impactar seus projetos."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="https://miro.medium.com/v2/1*FKD2Uy_Q6r6AviZA2VD4RQ.png"
                    cardTitle="Mergulhe nas Inovações e Notícias de Tecnologia que Estão Definindo o Amanhã e Transformando Mundo Digital"></app-small-card>
    <app-small-card photoCover="https://miro.medium.com/v2/1*FKD2Uy_Q6r6AviZA2VD4RQ.png"
                    cardTitle="Mergulhe nas Inovações e Notícias de Tecnologia que Estão Definindo o Amanhã e Transformando Mundo Digital"></app-small-card>
    <app-small-card photoCover="https://miro.medium.com/v2/1*FKD2Uy_Q6r6AviZA2VD4RQ.png"
                    cardTitle="Mergulhe nas Inovações e Notícias de Tecnologia que Estão Definindo o Amanhã e Transformando Mundo Digital"></app-small-card>

  </div>
</div>
